@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.border-round-custom {
 border-radius: 18px 18px 0px 0px;
}

.rounded-custom { 
  border-radius: 999px 0 0px 999px;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 2px;
}